# Base URL for the backend API.
# Live Staging Server:
NEXT_PUBLIC_API_URL=https://amainix-001-site1.ltempurl.com/api/v1

# Local Development:
# NEXT_PUBLIC_API_URL=http://localhost:5128/api/v1

# Live Documentation:
# Scalar UI: https://amainix-001-site1.ltempurl.com/scalar/v1
# OpenAPI Spec: https://amainix-001-site1.ltempurl.com/openapi/v1.json
